.eleves-list {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
}
  
.add-eleve {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
}
  
table {
    width: 100%;
}
    
.mat-form-field {
    font-size: 14px;
    width: 100%;
}
    
td, th {
    width: 25%;
}
  